<div class="row mb-3">        
    <div class="col">    
        <div class="card mb-3">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Add Discussion Record</p>
            </div>
            <div class="card-body">
         

    <form hx-post="{% url 'sourcing:add_discussion_record' product_link.supplier.id product_link.id %}" hx-target="#hxpanel" hx-swap="innerHTML">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success" type="submit">Add Discussion Record</button>
    </form>
</div>
</div>
</div>
</div>
