    <div class="row mb-3">        
        <div class="col">            

                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Add Supplier</p>
                        </div>
                        <div class="card-body">
                            <form hx-post="{% url 'sourcing:add_supplier' %}" hx-target="#hxpanel" hx-swap="innerHTML">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button class="btn btn-success"  type="submit">Add Supplier</button>
                            </form>
                        </div>
                        <a class="btn btn-success"  hx-target="#hxpanel" hx-swap="innerHTML" href="{% url 'sourcing:list_suppliers' %}">Back to Suppliers List</a>

                    </div>
                    

        </div>
    </div>
