<ul class="timeline">
    <h6 class="bg-light p-2">Product Links</h6>
    {% regroup items by product_type as grouped_items %}

    {% for product_type_group in grouped_items %}
        <h3>{{ product_type_group.grouper }}</h3>

    {% for product_link in product_type_group.list %}

    <div class="accordion accordion-flush" id="accordionFlushProductLink">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading{{product_link.id}}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{product_link.id}}" aria-expanded="false" aria-controls="flush-collapse{{product_link.id}}">
                <img src="{{product_link.link_img_url}}" width="70" height="70" /> {{product_link.get_importance_display}} -- {{product_link.link_title}}
            </button>
          </h2>
          <div id="flush-collapse{{product_link.id}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{product_link.id}}" data-bs-parent="#accordionFlushProductLink">
            <li class="timeline-item border-bottom">
                <div class="row align-items-center pb-3">
                    <div class="col me-2">
                        <img src="{{product_link.link_img_url}}" width="100" class="img-fluid" />
                        <h6 class="mb-0"><strong><a href="{{ product_link.url }}" target="_blank">{{ product_link.url }}</a></strong></h6>                        
                        <div class="text-warning">{{ product_link.get_importance_display }}</div>
                        <div class="text-primary"> - {{ product_link.notes }}</div>
                        <div class="text-danger"> - Progress: {% if product_link.sourcingprogress.progress_status %}{{ product_link.sourcingprogress.progress_status }}{% else %}Not defined{% endif %}</div>
                        <div class="text-success"> - Progress Note: {% if product_link.sourcingprogress.progress_notes %}{{ product_link.sourcingprogress.progress_notes }}{% else %}Not defined{% endif %}</div>
                        <div class="btn-group">
                            <a class="btn btn-sm btn-outline-success" hx-target="#hxpanel" hx-swap="innerHTML" hx-get ="{% url 'sourcing:edit_product_link' product_link.id %}">Edit</a>
                            <a class="btn btn-sm btn-outline-danger" hx-target="#hxpanel" hx-swap="innerHTML" hx-get ="{% url 'sourcing:delete_product_link' product_link.id %}">Delete</a>
                            <a class="btn btn-sm btn-outline-success" hx-target="#hxpanel" hx-swap="innerHTML" hx-get ="{% url 'sourcing:add_discussion_record' product_link.supplier.id product_link.id %}">Add Discussion Record</a>
                            <a class="btn btn-sm btn-outline-warning" hx-target="#hxpanel" hx-swap="innerHTML" hx-get ="{% url 'sourcing:add_proforma_invoice' product_link.supplier.id product_link.id %}">Add Performa Invoice</a>
                            <a class="btn btn-sm btn-outline-primary" hx-target="#hxpanel" hx-swap="innerHTML" hx-get ="{% url 'sourcing:edit_sourcing_progress' product_link.id %}">Edit Sourcing Progress</a>
                        </div>
                    </div>                                    
                </div>
                <!-- Discussion Records -->                                
                <ul class="timeline">
                    {% if product_link.has_discussion_records %}
                    <h6 class="bg-light p-2">Discussions</h6>
                    {% for discussion_record in product_link.discussionrecord_set.all %}
                    <li class="timeline-item">
                        <div class="row align-items-center pb-3">
                            <div class="col me-2">
                                <h6 class="mb-0"><strong>{{ discussion_record.date }}: {{ discussion_record.discussion_details }}</strong></h6>
                                <div class="btn-group">
                                    <a class="btn btn-sm btn-outline-success" hx-target="#hxpanel" hx-swap="innerHTML" hx-get ="{% url 'sourcing:edit_discussion_record' discussion_record.id %}">Edit</a>
                                    <a class="btn btn-sm btn-outline-warning" hx-target="#hxpanel" hx-swap="innerHTML" hx-get ="{% url 'sourcing:delete_discussion_record' discussion_record.id %}">Delete</a>
                                </div>                                        
                            </div>                                    
                        </div>
                    </li>
                    {% endfor %}
                    {% else %}
                    <p>No Discussion Record Found! <a class="btn btn-sm btn-outline-success" hx-target="#hxpanel" hx-swap="innerHTML" hx-get ="{% url 'sourcing:add_discussion_record' product_link.supplier.id product_link.id %}">Add Discussion Record</a> </p>
                    {% endif %}
                </ul>
                <ul class="timeline">
                    {% if product_link.has_performa_invoices %}
                    <h6 class="bg-light p-2">Performa Invoice</h6>
                    {% for proforma_invoice in product_link.proformainvoice_set.all %}
                    <li class="timeline-item">
                        <div class="row align-items-center pb-3">
                            <div class="col me-2">
                                <h6 class="mb-0"><strong>{{ proforma_invoice.date }}: {{ proforma_invoice.invoice_number }}</strong></h6>
                                <div class="text-warning">Invoice Amount: {{ proforma_invoice.amount }}</div> 
                                <div class="text-success"> Attachement: {% if proforma_invoice.attachments %}{{ proforma_invoice.attachments.url }}{% endif %}</div>
                                <div class="btn-group">
                                    <a class="btn btn-sm btn-outline-success" hx-target="#hxpanel" hx-swap="innerHTML" hx-get ="{% url 'sourcing:edit_proforma_invoice' proforma_invoice.id %}">Edit</a>
                                    <a class="btn btn-sm btn-outline-danger" hx-target="#hxpanel" hx-swap="innerHTML" hx-get ="{% url 'sourcing:delete_proforma_invoice' proforma_invoice.id %}">Delete</a>
                                    <a class="btn btn-sm btn-outline-warning" hx-target="#hxpanel" hx-swap="innerHTML" hx-get ="{% url 'sourcing:add_order' product_link.supplier.id product_link.id proforma_invoice.id %}">Add PI Order</a>
                                </div> 
                            </div>                                    
                        </div>

                        <ul class="timeline">
                            {% if proforma_invoice.has_sourcing_orders %}
                            <h6 class="bg-light p-2">PI Orders</h6>
                            {% for order in proforma_invoice.sourcingorder_set.all %}
                            <li class="timeline-item">
                                <div class="row align-items-center pb-3">
                                    <div class="col me-2">
                                        <h6 class="mb-0"><strong>Order Number: {{ order.order_number }}</strong></h6>
                                        <div class="text-warning">Date: {{ order.date }}</div> 
                                        <div class="text-warning">Quantity: {{ order.quantity }}</div> 
                                        <div class="text-danger">Price: {{ order.price }}</div>
                                        <div class="text-success">Shipping Record: {{order.shipping_record}}</div> 
                                        <div class="btn-group">
                                            <a class="btn btn-sm btn-outline-success" hx-target="#hxpanel" hx-swap="innerHTML" hx-get ="{% url 'sourcing:edit_order' order.id %}">Edit</a>
                                            <a class="btn btn-sm btn-outline-danger" hx-target="#hxpanel" hx-swap="innerHTML" hx-get ="{% url 'sourcing:delete_order' order.id %}">Delete</a>
                                            <a class="btn btn-sm btn-outline-warning" hx-target="#hxpanel" hx-swap="innerHTML" hx-get ="{% url 'sourcing:add_osr' product_link.supplier.id product_link.id proforma_invoice.id order.id %}">Add Shipping Record</a>
                                        </div>    
                                    </div>                                    
                                </div> 

                                <ul class="timeline">
                                    {% if order.has_osr %}
                                    <h6 class="bg-light p-2">Shipping records</h6>
                                    {% for osr in order.ordershippingrecord_set.all %}
                                    <li class="timeline-item">
                                        <div class="row align-items-center pb-3">
                                            <div class="col me-2">
                                                <h6 class="mb-0"><strong>{{ osr.shipping_date }}: {{ osr.shipping_details }}</strong></h6>
                                                <div class="btn-group">
                                                    <a class="btn btn-sm btn-outline-success" hx-target="#hxpanel" hx-swap="innerHTML" hx-get ="{% url 'sourcing:edit_osr' osr.id %}">Edit</a>
                                                    <a class="btn btn-sm btn-outline-danger" hx-target="#hxpanel" hx-swap="innerHTML" hx-get ="{% url 'sourcing:delete_osr' osr.id %}">Delete</a>
                                                </div>   
                                            </div>                                    
                                        </div> 
                                    </li>
                                    {% endfor %}
                                    {% else %}
                                    <p>No Order's Shipping Record found! <a class="btn btn-sm btn-outline-warning" hx-target="#hxpanel" hx-swap="innerHTML" hx-get ="{% url 'sourcing:add_osr' product_link.supplier.id product_link.id proforma_invoice.id order.id %}">Add Shipping Record</a></p>
                                    {% endif %}
                                </ul>
                            </li>
                            {% endfor %}
                            {% else %}
                            <p>No PI Order Found! <a class="btn btn-sm btn-outline-warning" hx-target="#hxpanel" hx-swap="innerHTML" hx-get ="{% url 'sourcing:add_order' product_link.supplier.id product_link.id proforma_invoice.id %}">Add PI Order</a></p>
                            {% endif %}
                        </ul>
                    </li>
                    {% endfor %}
                    {% else %}
                    <p>No Performa Invoice Found! <a class="btn btn-sm btn-outline-warning" hx-target="#hxpanel" hx-swap="innerHTML" hx-get ="{% url 'sourcing:add_proforma_invoice' product_link.supplier.id product_link.id %}">Add Performa Invoice</a> </p>
                    {% endif %}
                </ul>
            </li>
          </div>
        </div>                            
    </div>    

    {% endfor %}
    {% endfor %}
</ul>

