*.pyc  
*~  
__pycache__  
env
.vscode
.DS_Store  
db.sqlite3

cache/*
!cache/.gitkeep

logs/*
!logs/.gitkeep

branding
theme
staticfiles
sincehence/bk_settings.py
sincehence/wsgi.py
sincehence/settings
sincehence/settingssss
templates/NNEEDTOREDESIGNsourcing
templates/NNONEEDdashboard_layout

