{% extends 'layouts/base_dashboard.html' %}
{% load static %}
{% load humanizelib %}
{% block robotindex %} <meta name="robots" content="noindex">  {% endblock %}
{% block adsencecode %} {% endblock %}

{% block extra_head %}

{% endblock %}    

{% block middle %}
<!-- Start: sh_top -->
<section class="bg-sh-4th">
    <div class="container-fluid h-100">
        <div class="row text-center d-flex justify-content-center align-items-center h-100 pb5pt10 pb5">
            <div class="col-12 text-center d-sm-flex d-md-flex m-auto justify-content-md-start">
                <div class="text-start justify-content-start align-items-start align-content-start"><strong class="fs-1 op05 font-aldrich">Recent Activities</strong></div>
            </div>
        </div>
    </div>
</section><!-- End: sh_top -->
<!-- Start: sh_top -->
<section class="bg-sh-4th pt-2">
    <div class="container-fluid h-100">
        <div class="card bg-transparent border-0">
            <div class="row text-center d-flex justify-content-center align-items-center pb-3">
                <div class="col-12 pb-2">
                    
                    {% if messages %}                                      
                        {% for message in messages %}        
                        <div class="alert alert-warning" role="alert">
                            <span>
                                <strong>Alert:</strong> {{ message }}.
                            </span>
                        </div>
                        {% endfor %}  
                    {% endif %}

                    <div class="card text-light bg-light d-flex mb-4">
                        <div class="card-body text-start p-1">
                            <h4 class="text-primary card-title">Your Recent activities</h4><!-- Start: recent_activity -->
                            <div>
                                <hr class="my-0"> 
                                <div class="list-group list-group-flush border-bottom scrollarea">
                        
                                    {% for activity in all_activities %}
                                        <a class="list-group-item list-group-item-action py-3 lh-tight" href="{{activity.path}}" aria-current="true">
                                            <div class="d-flex justify-content-between align-items-center w-100">
                                                <b class="fs-5 mb-1">{{activity}}</b>
                                                <small class="fs-6">{{activity.timestamp|naturaltime}}</small>
                                            </div>
                                            <small class="fs-6">{{ activity.description }}</small>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div><!-- End: recent_activity -->
                            <!-- Start: pgination_sharma -->
                            <nav class="p-3 px-0">
                                {% include 'includes/pagination.html' with page_obj=all_activities pagination_class="pagination-sm" %}
                            </nav><!-- End: pgination_sharma -->
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
</section><!-- End: sh_top -->
{% endblock %}