{% extends 'layouts/base_dashboard.html' %}
{% load static %}
{% block robotindex %} <meta name="robots" content="noindex">  {% endblock %}
{% block adsencecode %} {% endblock %}

{% block extra_head %}

{% endblock %}    

{% block middle %}
<!-- Start: sh_top -->
<section class="bg-sh-4th">
    <div class="container-fluid h-100">
        <div class="row text-center d-flex justify-content-center align-items-center h-100 pb5pt10 pb5">
            <div class="col-12 d-sm-flex d-md-flex m-auto justify-content-md-start">
                <div class="text-start">
                    <strong class="fs-1 op05 font-aldrich">Your password has been changed successfully.</strong>
                </div>
            </div>
        </div>
    </div>
</section><!-- End: sh_top -->

{% endblock %}


