{% extends 'layouts/base_dashboard.html' %}
{% load static %}
{% block robotindex %} <meta name="robots" content="noindex">  {% endblock %}
{% block adsencecode %} {% endblock %}

{% block extra_head %}

{% endblock %}    

{% block middle %}
<!-- Start: sh_top -->
<section class="bg-sh-4th">
    <div class="container-fluid h-100">
        <div class="row text-center d-flex justify-content-center align-items-center h-100 pb5pt10 pb5">
            <div class="col-12 text-center d-sm-flex d-md-flex m-auto justify-content-md-start">
                <div class="text-start justify-content-start align-items-start align-content-start"><strong class="fs-1 op05 font-aldrich">Change Password</strong></div>
            </div>
        </div>
    </div>
</section><!-- End: sh_top -->
<!-- Start: sh_top -->
<section class="bg-sh-4th pt-2">
    <div class="container-fluid h-100">
        <div class="card bg-transparent border-0">
            <div class="row text-center d-flex justify-content-center align-items-center pb-3">
                <div class="col-12 pb-2">
                    {% if messages %}                                      
                        {% for message in messages %}        
                        <div class="alert alert-warning" role="alert">
                            <span>
                                <strong>Alert:</strong> {{ message }}.
                            </span>
                        </div>
                        {% endfor %}  
                    {% endif %}
                    
                    <div class="card text-light bg-light d-flex">
                        <div class="card-body text-start p-3">
                  

                            <form class="text-start" method="post">
                                {% csrf_token %}
                                {% for field in form %} 
                                <div class="d-flex mb-3">
                                    {{ field }} 
                                </div>
                                {% if field.errors %}
                                        <div class="text-danger fs-6">                                              
                                            {{ field.errors }}                                                  
                                        </div>
                                    {% endif %}
                                {% endfor %} 
                                {% if form.non_field_errors %} 
                                <div class="text-danger fs-6">                                              
                                    {{ form.non_field_errors }}                                          
                                </div>   
                                {% endif %} 
                                <div class="mb-3">
                                    <button class="btn btn-primary d-block w-100" type="submit">Change Password</button></div>
                               
                            </form>

                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section><!-- End: sh_top -->
{% endblock %}


{% comment %} {% block about %} {% endcomment %}




{% comment %} <div class="rainbow-split-area">
    <div class="wrapper">        
        <div class="rainbow-splite-style bg-color-blackest">
            <div class="split-wrapper">
                <div class="row g-0 radius-10 align-items-center">
                    <div class="col-lg-12 col-xl-6 col-12 order-2 order-lg-1">
                        <div class="split-inner"> 
                            <h1 class="h4">{{site_data.title}}</h1>  
                            <div class="row">
                                <div class="col-12">
                                    <p>Please enter the email address associated with your account:</p>
                                    <div class="count-box counter-style-4 text-left">
                                        <form method="post">
                                            {% csrf_token %}
                                            {% for field in form %}
                                                <div class="form-group">
                      
                                                <div class="form-group">
                                                    {{ field }}
                                                </div>
                                                {% if field.errors %}
                                                    <div class="text-danger">                                                  
                                                        {{ field.errors }}                                                    
                                                    </div>
                                                {% endif %}
                                                </div>
                                            {% endfor %}
                                         
                                            {% if form.non_field_errors %} 
                                            <div class="text-danger">                                              
                                                {{ form.non_field_errors }}                                          
                                            </div>   
                                            {% endif %}  
                                            <button class="btn-default mb-2" type="submit">Send Reset Email</button>                                            
                                          </form>  
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-xl-6 col-12 order-1 order-lg-2">
                        <div class="thumbnail">
                            <img src="{% static 'reset.png' %}" alt="signup">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> {% endcomment %}




{% comment %} {% endblock %} {% endcomment %}

