{% extends "layouts/base.html" %}
{% load static %}
{% block robotindex %} <meta name="robots" content="noindex">  {% endblock %}
{% block adsencecode %} {% endblock %}


{% block hero %}
{% endblock %}


{% block content %} 

<!-- Start: Hero Banner -->
<section class="bg-sh-4th">
    <div class="container-fluid h-100" style="background: url({% static 'assets/img/line_icon_opacity.svg' %}) top right / cover no-repeat;">
        
        <b class="text-nowrap text-uppercase text-start absolute-bold-25vw">Done</b>        
        {% if messages %}                                      
            {% for message in messages %}        
            <div class="alert alert-warning" role="alert">
                <span>
                    <strong>Alert:</strong> {{ message }}.
                </span>
            </div>
            {% endfor %}  
        {% endif %}
        <div class="row d-flex justify-content-center h-100 pt10pb10">
            <div class="col-md-6 col-xl-4 pt8pb3">
                <div class="card mb-5 bg-secondary">
                    <div class="card-body text-start">
                        <p>Your password has been reset successfully. You may now <a href="{% url 'accounts:login' %}">Login</a> with your new password.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End: Hero Banner -->






{% endblock %}

