{% extends 'layouts/base.html' %}
{% load static %}
{% load core %}

{% block extra_head %}
{% endblock %}   

{% block hero %}
{% endblock %}

{% block content %}

<section class="bg-sh-4th"><b class="text-nowrap text-uppercase text-start d-xl-flex justify-content-start align-items-start align-content-start justify-content-xl-start absolute-bold-16vw">quotation</b>
    <div class="container-fluid h-100">
        <div class="alert alert-success" role="alert"><span><strong>Alert</strong> text.</span></div>
        <div class="row text-center d-flex justify-content-center align-items-center h-100">
            <div class="col-12 text-center d-sm-flex d-md-flex m-auto justify-content-md-start pt8pb3">
                <div class="text-center d-block align-content-center m-auto align-items-xl-center">
                    <h3 class="text-uppercase fw-bold text-center mb-3 h25vw">requesting</h3>
                    <h3 class="text-uppercase fw-bold mb-3 h55vw target-element">Tailored Services To Meet Your Unique Needs </h3>
                    <p>Use our intuitive form to articulate your specific requirements to create custom solutions that align perfectly with your goals or consider choosing an existing plan</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pt5pt15">
    <div class="container-fluid"><strong class="d-none d-md-block absolute-bold-12vw-vr-trx20">TAILORED</strong>
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-xl-8">
                <h2 class="display-1 text-start referencing">Referencing___</h2>
                <div class="card bg-transparent">
                    <div class="card-body bg-transparent font-alexandria">
                        <p class="card-text fs-4 target-element"><i class="far fa-file text-primary" style="margin: 8px;"></i>Web Development Training and Consultation Services</p>
                    </div>
                </div>
                <div class="card bg-transparent mt-3">
                    <div class="card-body bg-transparent font-alexandria">
                        <h4 class="card-title">Write your custom requirements:</h4>
                        <form>
                            <div class="input-group mt-4 mb-5"><label class="form-label input-group-text w-100 border-0 ps-0">Write a Meaningful Title:</label><input class="form-control form-control-lg" type="text" placeholder="EG: custom business logic" name="todo"></div><small class="fw-lighter text-muted fs-6">Provide a nice title within 150 characters that will be displayed throughout the project's lifetime.</small>
                            <div class="input-group mt-4 mb-5"><label class="form-label input-group-text w-100 border-0 ps-0">Describe Yuor Requirements:</label><textarea class="form-control form-control-lg" rows="7" placeholder="eg: write details"></textarea></div><small class="fw-lighter text-muted fs-6">Write your project description or custom requirements within 1200 characters to help our team provideyou with a comprehensive quotation based on your specific needs. Feel free to mention any reference links, specific work requirements, or preferred technology stack. Please ensure that your input is relevant to the referencing service on this page.&nbsp;</small>
                            <div class="input-group mt-4 mb-5"><label class="form-label input-group-text w-100 border-0 ps-0">Quotation Expectation:</label><input class="form-control form-control-lg" type="text" placeholder="eg: yyyy-mm-dd" name="todo"></div><small class="fw-lighter text-muted fs-6">Provide a nice title within 150 characters that will be displayed throughout the project's lifetime.</small>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-8">
                <div class="card border-0 mt-2">
                    <div class="card-body d-flex font-alexandria px-0"><button class="btn btn-primary btn-lg text-uppercase flex-fill justify-content-center align-items-center target-element" type="button">submite quotation request</button></div>
                </div>
            </div>
            <div class="col-12 col-xl-8">
                <div class="card mt-3">
                    <div class="card-body font-alexandria">
                        <h2 class="card-title font-aldrich">Write your custom requirements:</h2>
                        <p class="font-aldrich">Our Web Development Training and Consultation Services are designed to empower individuals and businesses with the knowledge and skills needed to excel in the world of web development. Whether you're a beginner looking to learn the fundamentals or an experienced developer seeking to enhance your expertise, our tailored training sessions are here to help. Focused on Python, Django, Opencart, HTML, HTMX, and CSS, our one-on-one or group training sessions provide hands-on learning experiences. Our seasoned instructors guide you through the intricacies of web development, from coding to design principles, equipping you with the tools to create exceptional websites and applications.</p>
                    </div>
                    <div class="card-body font-alexandria">
                        <h2 class="card-title font-aldrich">Write your custom requirements:</h2>
                        <p class="font-aldrich">Our Web Development Training and Consultation Services are designed to empower individuals and businesses with the knowledge and skills needed to excel in the world of web development. Whether you're a beginner looking to learn the fundamentals or an experienced developer seeking to enhance your expertise, our tailored training sessions are here to help. Focused on Python, Django, Opencart, HTML, HTMX, and CSS, our one-on-one or group training sessions provide hands-on learning experiences. Our seasoned instructors guide you through the intricacies of web development, from coding to design principles, equipping you with the tools to create exceptional websites and applications.</p>
                    </div>
                    <div class="card-body font-alexandria">
                        <h2 class="card-title font-aldrich">Write your custom requirements:</h2>
                        <p class="font-aldrich">Our Web Development Training and Consultation Services are designed to empower individuals and businesses with the knowledge and skills needed to excel in the world of web development. Whether you're a beginner looking to learn the fundamentals or an experienced developer seeking to enhance your expertise, our tailored training sessions are here to help. Focused on Python, Django, Opencart, HTML, HTMX, and CSS, our one-on-one or group training sessions provide hands-on learning experiences. Our seasoned instructors guide you through the intricacies of web development, from coding to design principles, equipping you with the tools to create exceptional websites and applications.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-8">
                <div class="card mt-3 target-element">
                    <div class="card-body p-2">
                        <h4 class="text-capitalize card-title fs3vw font-alexandria text-dark">Rather Choose an existing Options from Referring Service</h4>
                        <div class="row g-0">
                            <div class="col-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="card-title">BASIC PAYMENT GATEWAY INTEGRATION</h6>
                                        <h6 class="text-muted card-subtitle mb-2">Price-$500</h6>
                                        <h6 class="text-muted card-subtitle mb-2">Per Month Price</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="card-title">BASIC PAYMENT GATEWAY INTEGRATION</h6>
                                        <h6 class="text-muted card-subtitle mb-2">Price-$500</h6>
                                        <h6 class="text-muted card-subtitle mb-2">Per Month Price</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="card-title">BASIC PAYMENT GATEWAY INTEGRATION</h6>
                                        <h6 class="text-muted card-subtitle mb-2">Price-$500</h6>
                                        <h6 class="text-muted card-subtitle mb-2">Per Month Price</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="card-title">BASIC PAYMENT GATEWAY INTEGRATION</h6>
                                        <h6 class="text-muted card-subtitle mb-2">Price-$500</h6>
                                        <h6 class="text-muted card-subtitle mb-2">One month Required</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="card-title">BASIC PAYMENT GATEWAY INTEGRATION</h6>
                                        <h6 class="text-muted card-subtitle mb-2">Price-$500</h6>
                                        <h6 class="text-muted card-subtitle mb-2">One month Required</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row gy-2 justify-content-evenly align-items-stretch mt-2">
                            <div class="col-12"><a class="btn btn-warning btn-lg d-flex flex-fill justify-content-center align-items-center align-content-stretch flex-nowrap font-aldrich target-element" role="button">Start Order</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




        {% comment %} <div class="breadcrumb-area breadcarumb-style-1 ptb--120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb-inner text-center">
                            <h1 class="title theme-gradient">{{site_data.title}}</h1>
                            <p class="descriptiion">{{site_data.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="rainbow-gradient-circle"></div>
            <div class="rainbow-gradient-circle theme-pink"></div>
        </div>






        <div class="rainbow-portfolio-details rainbow-section-gap">
            <div class="container">
                <div class="row mt-top-10em">
                    <div class="col-lg-12">
                        <div class="inner">
                            <div class="details-list">                                
                                <div class="row mt--40 row--30">
                                <h2>Service that you are referencing: {{reference_service.name}}</h2> 
                                    
                                    <form method="POST" enctype="multipart/form-data" id="quotation-form" action="{% url 'shop:quotation_request' reference_service.id %}">
                                        {% csrf_token %}
                                        
                                        <div class="col-12 mb-3">
                                            <div class="rainbow-card border-1 rounded p-3">   
                                                {{ form.as_p }}
                                            </div>
                                        </div>
                                        
                                        <input type="submit" value="Submit">
                                    </form>
                                    
                                </div>
                            </div>
                            
                        </div>

                        <div class="inner">
                            <div class="row mt--40 row--30">
                                <h3 class="border-2 border-danger border-bottom ">Description of the referencing product:</h3>
                                <p>{{reference_service.description}}</p>
                            </div>
                        </div>


                        <div class="inner">
                            <div class="row mt--40 row--30">
                                <h3 class="border-2 border-danger border-bottom ">Meta Description of the referencing product:</h3>
                                <ul>
                                    {% for meta in reference_service.service_meta_data.all %}
                                    <li class="ms-5"><b>{{meta.key|remove_dash_hyphen_capital}}:</b> {{meta.data}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="inner">
                            <div class="row mt--40 row--30">
                                <h3 class="border-2 border-danger border-bottom ">Features of the referencing product:</h3>
                                <ul>
                                    {% for feature in reference_service.service_features.all %}
                                    <li class="ms-5">{{feature.data|safe}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="inner">
                            <div class="row mt--40 row--30">
                                <h3 class="border-2 border-danger border-bottom ">Consider Choosing an Existing Plan</h3>
                                <form action="{% url 'shop:service_details' reference_service.pk %}" method="POST">
                                    {% csrf_token %}
                    
                                    <div class="row justify-content-center reference-service-price">
                                        {% for price_id, formatted_price in reference_service_form.price_id.field.choices %}
                                        <div class="col-md-6 col-xl-3 d-flex">
                                            <div class="form-check card mb-2 gradient-card flex-fill">
                                                <input class="{{ reference_service_form.price_id.field.widget.attrs.class }}" type="radio" name="{{ reference_service_form.price_id.name }}" id="price_{{ price_id }}" value="{{ price_id }}">
                                                <label class="form-check-label card-body" for="price_{{ price_id }}">
                                                    {{ formatted_price|safe }}
                                                </label>
                                            </div>
                                        </div>
                                        {% endfor %}                                                 
                                    </div>
                                    <div class="d-grid gap-2">
                                        <input class="btn btn-outline-secondary mt-0" type="submit" value="Ordering Details">                                    
                                    </div>
                                </form>

                                {% if reference_service_form.errors %}
                                <div class="alert alert-danger">
                                    <strong>Errors:</strong>
                                    <ul>
                                        {% for field_name, errors in reference_service_form.errors.items %}
                                            {% for error in errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endif %}
                            </div>

                        </div>





                    </div>
                </div>
            </div>
        </div> {% endcomment %}


        

        {% endblock %}


        {% block extra_body %}          
            <script>
                $(document).ready(function() {
                    $('.datepicker').datepicker({
                        format: 'yyyy-mm-dd',  // Customize the date format as needed
                        autoclose: true,
                        startDate: '3d'
                    });

                    $('.reference-service-price .form-check-input').change(function () {
                        $('.reference-service-price .form-check.card').removeClass('gradient-card-selected');
                        $(this).closest('.reference-service-price .form-check.card').addClass('gradient-card-selected');
                    });
                });
            </script>    
        {% endblock %}

