{% extends 'layouts/base_dashboard.html' %}
{% load static %}
{% load core %}
{% load humanizelib %}
{% block extra_head %}

{% endblock %}   

{% block middle %}

<!-- Start: sh_top -->
<section class="bg-sh-4th">
    <div class="container-fluid h-100">
        <div class="row text-center d-flex justify-content-center align-items-center h-100 pb5pt10 pb5">
            <div class="col-12 text-center d-sm-flex d-md-flex m-auto justify-content-md-start">
                <div class="text-start d-flex justify-content-start align-items-start align-content-start"><strong class="fs-1 op05 font-aldrich">Update Payment</strong></div>
            </div>
        </div>
    </div>
</section><!-- End: sh_top -->
<!-- Start: sh_top -->
<section class="bg-sh-4th pt-2">
    <div class="container-fluid h-100">
        <div class="card bg-transparent border-0">
            {% if messages %}                                      
                {% for message in messages %}        
                <div class="alert alert-warning" role="alert">
                    <span>
                        <strong>Alert:</strong> {{ message }}.
                    </span>
                </div>
                {% endfor %}  
            {% endif %}
            
        </div>
        <div class="card bg-transparent border-0">
            <h2>Order #{{ order.order_number }}</h2>
            <h3 class="text-primary">Pending Amount in :<small class="fw-light"> {{order.currency.symbol}}{{order.pending_amount}}  out of Order Amount {{order.currency.symbol}}{{order.amount}} </small></h3>
            <h3 class="text-primary">Checking Amount in :<small class="fw-light"> {{order.currency.symbol}}{{order.trans_checking_amount}} ||  Rejected Amount {{order.currency.symbol}}{{order.trans_reject_amount}} </small></h3>
            
            <div class="row text-center d-flex justify-content-center align-items-center pb-3">
          
                <div class="col-12 pb-2">
                    <div class="card text-light bg-light d-flex">
                        <div class="card-body text-start p-1">

                
                            

                            <form class="p-2" action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}   
                                {% if user_form.non_field_errors %} 
                                <div class="text-danger">                                              
                                    {{ user_form.non_field_errors }}                                          
                                </div>   
                                {% endif %}  
                                {% for field in payment_form %}
                                    <label class="text-dark fs-5" for="{{ field.id_for_label }}">{{ field.label }}</label>   
                                    <div class="d-flex mb-3">
                                        {{ field }}      
                                    </div>
                                    <small>{{ field.help_text|safe }}</small>
                                    <div class="col-12 mb-3">                                   
                                        {% for error in field.errors %}
                                            {{error}}
                                        {% endfor %}  
                                        
                                    </div>
                                {% endfor %}

                                <input class="btn btn-primary btn-lg btn-default" type="submit" value="Update"/>   
                               
                            </form> 
                            
                        </div>
                    </div>
                </div>
            
                
            </div>
        </div>
       
      
    </div>
</section><!-- End: sh_top -->

{% endblock %}

